[user]
	name = mikeclark-wordpress
	email = mikeclark@mossycity.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
[gui]
	recentrepo = C:/xampp/apps/wordpress/htdocs
